@import url('https://fonts.googleapis.com/css2?family=Damion&family=League+Spartan:wght@100..900&display=swap');

#title {
  font-family: var(--spartan);
  color: #FF5A5F;
}

#allura{
  font-family: var(--allura);
  color: #FFD166;
}