@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  --spartan: "League Spartan", sans-serif;
  --allura: "Damion", cursive;
}
/* 
.league-spartan-<uniquifier> {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-image: url('assets/bg.svg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
